

@import url(https://fonts.googleapis.com/css?family=Montserrat);

html, body{
  height: 100%;
  font-weight: 800;
}

body{
    background-image: url(index.png);
    background-size: cover ;
} 

svg {
    display: block;
    font: 10.5em 'Montserrat';
    /* width: 960px; */
    width:95%;
    height: 300px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
  stroke: #4D163D;
  animation-delay: -1;
}

.text-copy:nth-child(2){
  stroke: #840037;
  animation-delay: -2s;
}

.text-copy:nth-child(3){
  stroke: #BD0034;
  animation-delay: -3s;
}

.text-copy:nth-child(4){
  stroke: #BD0034;
  animation-delay: -4s;
}

.text-copy:nth-child(5){
  stroke: #FDB731;
  animation-delay: -5s;
}

@keyframes stroke-offset{
  100% {stroke-dashoffset: -35%;}
}

.navbar{
    width:100%;
    height:70px;
    box-shadow: 0 4px 10px rgba(253,0,0,.1);
}

.navbar .container{
    height:inherit;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.navbar-menu{
    list-style-type:none;
    padding-left:0px;
    margin-left:0px;
}

.navbar-menu li {
    display:inline-block;
}


.navbar-menu li a {
    display:inline-block;
    color:rgba(217, 91, 28, 1);;
    opacity:0.6;
    font-size:18px;
    margin:10px;
    text-decoration:none;
    padding:10px;
    transition: all .07s ease-in-out;
}

.navbar-menu li a:hover {
    opacity:1;
}

.navbar-wrap{
    display:flex;
    flex-flow: row nowrap;

}

.callback{
    border-radius:100px;
    color:#fff;
    padding:10px 30px;
    background-color:coral;
    margin-left:30px;
    text-decoration:none;
    box-shadow: 0 4px 6px rgba(255,127,80,.2);
    transition: all .1s ease-out;
}
.callback:hover{
    color:#fff;
    transform: scale(1.04);
    box-shadow: 0 9px 9px rgba(255,127,80,.1);
}
.navbar-brand{
    font-weight:700;
    font-size:26px;
    text-decoration:none;
    color:rgba(217, 91, 28, 1);
    transition:all .07s ease-in-out;
}

.navbar-brand:hover{
    color:coral;
}

